@import "../src/components/Header/header.css";
@import "../src/components/CountChar/count-char.css";
@import "../src/components/ListCountCharacter/list-count-character.css";
@import "../src/components/Alert/alert.css";
@import "../src/components/Loading/loading.css";

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
    height: 100%;
    margin: 0;
    background-color: #abb8c3;
}

img {
    max-width: 100%;
}
